*{
    margin: 0px;
    width: 100%;
    height: auto;
}

#flexContainer div{
    background-color: skyblue;
    color: white;
    font-size: 2em;
    text-align: center;
    align-items: center;
}

#flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    width: 95vmax;
    border: 3px solid orange;
    padding: 5px;
}

#first{
    display: flex;
    width: 95vmax;
    height: 100px;
    margin-bottom: 1%;
}

#second {
    display: flex;
    height: 100px;
    width: 20vmax;
    margin-bottom: 1%;
}

#third{
    display: flex;
    width: 95vmax;
    height: 100px;
}

